/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoImg{
  width: 100px;
  padding-top: 10px;
  
}

.yellow-logo{
  background: #FFB646;
  width: 154px;
  height: 120px;
  left: 103px;
  gap: 0px;
  border-radius: 0px 0px 70px 70px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.startup{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;
  max-width: 270px;
}

.startup-text{
  font-family: Federant;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  text-align: center;
  color: #fff;

}

.college-name{
  color: #FFB646;
  border-bottom: 2px solid white;
  font-family: Federant;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.5px;
  text-align: center;
}

.quiz-img{
  margin-top: -90px;
  width: 200px;
}

.background-container {
  position: relative; 
  width: 400px; 
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.large-circle {
  width: 100%; 
  height: 100%; 
  background-color: #FFB646;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 0; 
}


.small-circle {
  width: 390px;
  height: 390px; 
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute; 
  z-index: 1; 
}


.small-circle {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


.circle-image {
  width: 300px;
  height: 300px; 
  border-radius: 50%; 
  position: absolute;
  top: -380px; 
  z-index: 2; 
  left: 50%; 
  transform: translateX(-50%); 
}


.circle-text {
  position: absolute;
  top: 15px; 
  left: 50%;
  transform: translateX(-50%); 
  font-size: 18px;
  text-align: center;
  z-index: 9999; 
}


.circle-button {
  position: absolute;
  top: 70px;
  left: 50%; 
  transform: translateX(-50%); 
  padding: 8px 12px;
  background: #FFB646;
  width: 180px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 9999; 
  font-size: 16px;
  font-family: federant;
}

.symbol{
  position: absolute;
  right: 15px;
  text-align: right;
} */