*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  background: linear-gradient(180deg, #446DEB 0%, #32BCFB 61.38%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-y: hidden;
}